{#
  2023Q4 Frontend Technologies
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}


<section class="our-stack-2-frontend">
  <div class="maxwidth">
    <div class="header">
      <h2 class="title">Frontend Technologies</h2>
      <div class="fancy-border"></div>
    </div>

    <div id="circular">
      <div class="el center">
        <div class="icon"></div>
      </div>
      <div class="el i1">
        <div class="icon"></div>
        <div class="my-label">
          <a href="/dev-js">ES6 JavaScript</a>
          <div class="sm">NPM Node packages</div>
        </div>
      </div>
      <div class="el i2">
        <div class="icon"></div>
        <div class="my-label">
          <a href="/dev-react">React</a>
          <div class="sm">jsx, virtual DOM</div>
        </div>
      </div>
      <div class="el i3">
        <div class="icon"></div>
        <div class="my-label">
          <a href="/dev-js">Webpack &amp; Babel</a>
          <div class="sm">Build automation, CI/CD pipelines</div>
        </div>
      </div>
      <div class="el i4">
        <div class="icon"></div>
        <div class="my-label">
          <a href="/dev-js">Jest</a>
          <div class="sm">Testing</div>
        </div>
      </div>
      <div class="el i5">
        <div class="icon"></div>
        <div class="my-label">
          <a href="/dev-capacitor">Ionic</a>
          <div class="sm">Hybrid mobile apps</div>
        </div>
      </div>
    </div>
  </div>
</section>


  {% endblock %}
</div>

