

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <style>
      .a202311-awards-and-recognitions h2 {
        margin-bottom: 1em;
      }
      .a202311-awards-and-recognitions img {
        margin: 0 .2em 0.2em 0;
      }
    </style>
    <div class="a202311-awards-and-recognitions">
      <img alt="Go Global Awards" src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/11/12165556/253x100-PVD-RI-go-global-awards.jpg" />
      <img alt="International Trade Council" src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/11/12165558/266x100-PVD-international-trade-council.png" />
    </div>
  {% endblock %}
</div>
