{#
  social links, social menu
#}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}

<ul class="menu social-links">
  <li class="menu-item linkedin">
    <a href="https://www.linkedin.com/company/wasya-co">
      <span>LinkedIn</span>
      <img width="32" height="32" style="width: 32px; height: 32px;" alt='linkedin logo' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAolBMVEUAZpkAAAAAZpkAZpkAZpkAZpkAZpkAZpkAZpkAZpkAZpn///8DaJtNlLgFaZvT5e4je6cYdaMnfqnX5+8LbZ6+2OU8irGYwdZFkLUfeaYcd6QUcqIRcKBBjbM2h68rgKry9/panL1UmbuXwdZKkrcxhK0ugqzG3eigxtmMu9KAs81hoMD4+/zt9firzd1xqsZppsPm8PXZ6PDD2+e31OKWwNWDviFSAAAACnRSTlP5AOvompVQTbey6bMI1wAAASxJREFUOMu1k9tSgzAURRNaoJ4ECunFgrQUrEChN2///2tu4oCOE/DBcb3sTPbKnLwcxrkznTAjk6nDOeMzIpLp5rDZbtfr3VORqiCKwocltcw4c1DntybLcg8OjDQIYvRLXxsum+J503zVqq2TpS9JYzOLDrnn6bJQKurKDouRRL3Jj/UOddzXPYwifC0TQpzibvAPQaVKXQRYt08NQhBEcSVAQWahHZuchXilAcHXielDQseosF0ASdEbokpueyH2Zfhd8ASQFCwQq3f04GIS5gjUn1ylSQCneVWK1swGhKPy47M+mIXn/qI0CysCsQDzESH8N2HxV0H9KrwMCcU9kBTWiCuB5BHUWrC04QOERMjuQp8sLM4oNnPGBbdd3hHuONbftYfW33Y5/wAoZDSzib8htgAAAABJRU5ErkJggg==" />
    </a>
  </li>
  <li class="menu-item youtube">
    <a href="https://www.youtube.com/@wasyaco">
      <span>Youtube</span>
      <img width="32" height="32" style="width: 32px; height: 32px;" alt='youtube logo' src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAn1BMVEWZAACZAACZAACZAACZAACZAAD///+tMTH36OiaAQGbBQX+/Py1RUXv1dXjt7fcpqazQECoJiafDQ38+Pj68fH15ubmvr7Ea2urLS2dCQn47e3z4ODt0NDdqKiwOTmkGRn79PT69PT68/Px3NzaoqLYnJzXmprUlJTTkJDPiIjJdnbIc3OqKSmlHx+hExPqy8voxcXgsbHXm5vMf3+2SkqIXVoTAAAABXRSTlPjbOXgdHrQp4cAAADXSURBVDjLzdPHEoIwEAZgLIABgomC9I6iCFjf/9nMwSQwMOB44j/ufpM2WWG9FEciLATSHxWCOJEZASXCthwipJEgFIY2jpw2sJ++Z25cI03iOEkN1zU9GCDAQPOQBuJjBjRjCKgWA1dpMGdAwYWWMl9tga1CQcFKVQk50R0KTrSUKwC/MkoOuy8Ax/aiQA7UUVCXkK3AtuAgsm57qQcKdizrTtr8kL1r7kmbJ1B+fqj31FM3+hCAFQOinENz04np6RrgQHRqW+4G72b3q/8fzhWZ79H+4gPjxB9/atFvqQAAAABJRU5ErkJggg==" />
    </a>
  </li>
</ul>

  {% endblock %}
</div>
