{#
  2023Q4 trusted by partners worldwide
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}



<section id="p6" class="our-clients">
  <div class="maxwidth">
    <div class="header">
      <h2 class="title lobster center border-bottom" style="color: #aaa;">
        <span class="a">
          Trusted by </span><span class="a">Partners Worldwide
        </span>
      </h2>
    </div>
    <div class="fancy-border"></div>

    <div class="rows">
      <div class="row r1">
        <div class="col-md-3">
          <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000856/wasya_co_nexenta.jpg">
        </div>
        <div class="col-md-3">
          <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000851/wasya_co_creek2.jpg">
        </div>
        <div class="col-md-3">
          <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000854/wasya_co_liatrio.jpg">
        </div>
        <div class="col-md-3">
          <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000855/wasya_co_mediatek.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000856/wasya_co_operaevent.jpg">
        </div>
        <div class="col-md-3">
          <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000858/wasya_co_signvox.jpg">
        </div>
        <div class="col-md-3">
          <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000903/wasya_co_zmdigital.jpg">
        </div>
        <div class="col-md-3">
          <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000857/wasya_co_redes.jpg">
        </div>
      </div>
    </div>
  </div><!--maxwidth-->
</section>




  {% endblock %}
</div>
