
<article{{ attributes.addClass(classes) }} id="a2023q3issue" >

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <section id='p1' class='hero' >
    <h1 class='lobster'>Innovative solutions for your digital success</h1>
  </section>
  <div class='divider'></div>

  <section id='p2' class='about-us' >
    <div class='max-width'>
      <div class='header'>
        <h2 class='title'>WasyaCo</h2>
        <h3 class='subtitle'>- Est. 2013 -</h3>
      </div>
      <div class='fancy-border'></div>

      <p>At Wasya Co, we understand the challenges that come with developing and maintaining software in today's fast-paced and constantly evolving technological landscape. That's why we offer a comprehensive range of services to help you navigate these challenges and stay ahead of the curve.</p>

      <p>Our focus is always on delivering value to our clients, and we pride ourselves in our ability to work collaboratively and transparently with our clients throughout the development process.</p>

      <p>If you're looking for a trusted partner to help you achieve your digital goals, look no further than Wasya Co. We're committed to providing you with the innovative solutions you need to succeed in today's digital world.</p>

    </div>
  </section>
  <div class='divider'></div>


  <section id='p4' class='our-services-pg1 flex-column' >
    <div class='max-width maxwidth'>
      <div class='header'>
        <h2 class='title'>Our Technology Services</h2>
        <div class='subtitle'>
          <span class='a'>We offer design & development services&nbsp;</span><span class='a'>in a variety of technologies and stacks.</span>
        </div>
      </div>
      <div class='fancy-border'></div>

      <div class='rows'>
        <div class='row'>
          <div class='col-md-6'>

            <div class='wco-card-2'>
              <div class='img ruby'>
                <div class='imgC'></div>
              </div>
              <a href="/dev-ror"><h2>Ruby on Rails</h2></a>
              <div class='sub' >Web Application Development</div>
              <a href="/dev-ror"><button class="button-91" role="button">Explore</button></a>
            </div>

          </div>
          <div class='col-md-6'>

            <div class='wco-card-2'>
              <div class='img reactor'>
                <div class='imgC'></div>
              </div>
              <a href="/dev-react"><h2>ReactJs</h2></a>
              <div class='sub' >Building Elegant Apps & Frontends</div>
              <a href="/dev-react"><button class="button-91" role="button">Learn More</button></a>
            </div>

          </div>
        </div><!--row-->

        <div class='row flex-row'>
          <div class='col-md-6'>
          </div>
          <div class='col-md-6 our-services-exploreW'>


<div class='our-services-explore-2' >
  <div class='description sub' >
    <p>We additionally offer services in other languages, frameworks and technologies.</p>
    <a href="/dev-all-stacks"><button class="button-91" role="button">All Services</button></a>
  </div>
  <div class='' >
    <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/05/18140534/150x300-waving-guy-2-tiny.png" />
  </div>
</div>


          </div>
        </div><!--row-->
      </div><!--container-->
    </div><!--max-width-->
  </section>
  <div class='divider'></div>

  <section id='p5' class='our-process' >
    <div class='row max-width'>

      <div class='my-col col-sm-12 col-md-4 order-md-2'>
        <img class='illustration' src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/04/26164122/256x256-robotic-arm-rm-tiny.png" />
      </div>
      <div class='col-sm-12 col-md-8 order-md-1'>
        <div class='my-col'>
          <div class='header'>
            <h2 class='title' >Our Process</h2>
          </div>
          <div class='fancy-border'></div>

          <div class='description'>
            <p>We work in iterative development cycles segmented in 1-week sprints. We hold daily standups, and monthly planning meetings.</p>
            <p>We use Redmine as the ticketing system, along with a number of other productivity tools.</p>
          </div>

          <div class='flex-col'>
            <a href="/our-process-2"><button class="button-91" role="button">Tour our Workshop</button></a>
            <a class='sub' href="/our-process-2">Read about Our Process</a>
          </div>
        </div>
      </div>


    </div>
  </section>
  <div class='divider'></div>


<section class='our-stack-2-frontend' >
  <div class='max-width'>
    <div class='header'>
      <h2 class='title'>Frontend Technologies</h2>
      <div class='fancy-border'></div>
    </div>

    <div id='circular'>
      <div class='el center'>
        <div class='icon'></div>
      </div>
      <div class='el i1'>
        <div class='icon'></div>
        <div class='my-label'>
          <a href="/dev-js">ES6 JavaScript</a>
          <div class='sm'>NPM Node packages</div>
        </div>
      </div>
      <div class='el i2'>
        <div class='icon'></div>
        <div class='my-label'>
          <a href="/dev-react">React</a>
          <div class='sm'>jsx, virtual DOM</div>
        </div>
      </div>
      <div class='el i3'>
        <div class='icon'></div>
        <div class='my-label'>
          <a href='/dev-js'>Webpack & Babel</a>
          <div class='sm'>Build automation, CI/CD pipelines</div>
        </div>
      </div>
      <div class='el i4'>
        <div class='icon'></div>
        <div class='my-label'>
          <a href="/dev-js">Jest</a>
          <div class='sm'>Testing</div>
        </div>
      </div>
      <div class='el i5'>
        <div class='icon'></div>
        <div class='my-label'>
          <a href='/dev-capacitor'>Ionic</a>
          <div class='sm'>Hybrid mobile apps</div>
        </div>
      </div>
    </div>
  </div>
</section>



  <section id='p6' class='our-clients' >
    <div class='max-width'>
      <div class='header'>
        <h2 class='title' style='color: #aaa;' ><span class='a'>Trusted by </span><span class='a'>Partners Worldwide</span></h2>
      </div>
      <div class='fancy-border'></div>

      <div class='rows'>
        <div class='row r1'>
          <div class='col-md-3'>
            <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000856/wasya_co_nexenta.jpg" />
          </div>
          <div class='col-md-3'>
            <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000851/wasya_co_creek2.jpg" />
          </div>
          <div class='col-md-3'>
            <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000854/wasya_co_liatrio.jpg" />
          </div>
          <div class='col-md-3'>
            <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000855/wasya_co_mediatek.jpg" />
          </div>
        </div>
        <div class='row'>
          <div class='col-md-3'>
            <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000856/wasya_co_operaevent.jpg" />
          </div>
          <div class='col-md-3'>
            <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000858/wasya_co_signvox.jpg" />
          </div>
          <div class='col-md-3'>
            <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000903/wasya_co_zmdigital.jpg" />
          </div>
          <div class='col-md-3'>
            <img src="https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2022/08/28000857/wasya_co_redes.jpg" />
          </div>
        </div>
      </div>
    </div><!--max-width-->
  </section>

  <section id='p7' class='testimonials' >
    <div class='max-width'>
      <div class='header'>
        <h2 class='title' style='color: #aaa;' >What People are Saying</h2>
      </div>
      <div class='fancy-border'></div>

      <div class='row'>
        <div class='col-md-4 testimonial'>
          <div class='message'>
            They built the application quickly for me and according to spec. Great communication, great service.
          </div>
          <div class='signature'>
            <div class='name'>Stephen Kim</div>
            <div class='subname'>Business Owner</div>
          </div>
        </div>

        <div class='col-md-4 testimonial'>
          <div class='message'>
            Wasya Co provided the necessary technical guidance for the team to succeed, in tight deadlines. Victor was a pleasure to work with.
          </div>
          <div class='signature'>
            <div class='name'>Operaevent</div>
            <div class='subname'>Bay Area startup</div>
          </div>
        </div>

        <div class='col-md-4 testimonial'>
          <div class='message'>
            Wasya Co delivered a great-looking mobile site, just what we wanted.
          </div>
          <div class='signature'>
            <div class='name'>Marchesi Design</div>
            <div class='subname'>Furniture Store</div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <div class='divider'></div>

  <section class='contact-us-2-md' >
    <div class='max-width'>
      <div class='description'>
        <p class='sm' >Ready to make a move? <br />Chat with us about your project:</p>
        <!-- <a href="/w/c2"><button class="button-91" role="button">Schedule a call</button></a> -->
        <a href="/contact-us-4"><button class="button-91" role="button">Contact Us</button></a>
      </div>
      <div class='illustration'></div>
    </div>
  </section>
  <div class='divider'></div>


  <div{{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>

  <div class="clearfix"></div>

</article>


