



<div class='maxwidth'>

  {%
    set classes = [
      'wco-id-' ~ node.id,
      'node',
      'node--type-' ~ node.bundle|clean_class,
      node.isPromoted() ? 'node--promoted',
      node.isSticky() ? 'node--sticky',
      not node.isPublished() ? 'node--unpublished',
      view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    ]
  %}
  {{ attach_library('ish_drupal_theme/node') }}
  <article{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if label and not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
      <footer class="node__meta">
        {{ author_picture }}
        <div{{ author_attributes.addClass('node__submitted') }}>
          By {{ author_name }} on {{ node.created.value|date('Y-m-d') }}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}

    <div{{ content_attributes.addClass('node__content') }}>
      {{ content }}
    </div>

    <div class="clearfix"></div>

  </article>

</div>


