{#
  2023-11-18 :: Unused now b/c I can just configure Drupal without this template.
  2023-11-18 :: Nah, let me use this still.
  2023-12-10 :: moved from product-card-block to node--card.html.twig
#}

{%
  set classes = [
    'Card',

    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('ish_drupal_theme/node') }}
<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>

  {# {{ title_prefix }}
  {% if label and not page %}
    <div{{ title_attributes.addClass( 'text-center' ) }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </div>
  {% endif %}
  {{ title_suffix }} #}

  <div class="clearfix"></div>

</article>
