
<div class="CardPorcelainLike">

  <div class="imgW">
    <div class="img">
      {{ content.field_image }}</div>
  </div>
  <a href={{ url }} >
    <h2 class='cursive' >{{ label }}</h2>
  </a>
  <div class="subtitle">{{ content.field_subtitle }}</div>
  <a href={{ url }} >
    <button class="button-91" role="button">
      {{ content.field_button_text }}
    </button>
  </a>
</div>




